body {
	background: rgb(58, 58, 58);
	color: white;
    background-color: rgb(245, 243, 243);
	padding: auto;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header {
	background: white;
	height: 575px;
	padding: 20px;
    text-align: center;
    background-image: url('/images/Yosem.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    resize: both;
}
header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav li {
    display: inline-block;
    background-color: gray;
    border-radius: 3px;
    padding: 2px;
    margin-left: 20px;
}
header ul li:hover {
    background-color: red;
}
header a {
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
.headline {
    margin-top: 125px;
    padding: 20px;
}


/* another section */

section {
	height: auto;
    margin: auto;
    resize: both;
    overflow: hidden;
    padding: 50px 50px 0px 50px;
    color: black;
    background: white;
    
}
.about-me{
    margin: auto;
    width: 75%;
}
.about h1 {
    margin: auto;
}
.about p {
    color: black;
    overflow: auto;
}

/*  carrd template3*/
.my-cards {
    width: 75%;
    margin: auto;
}

.column {
  float: left;
  width: 300px;
  height: 200px;
  padding: 0 10px;
  text-align: center;
  overflow: hidden;
}



/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
    display: flex;
    justify-content: center;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 900px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 5px;
}
.card:hover {
    background-color: #c7bfbf;
}




footer {
    margin: auto;
    padding: auto;
}

.note {
    display: flex;
	background: rgb(95, 92, 92);
	height: 70px;
    text-align: center;
    justify-content: center;

}
